<!DOCTYPE html>
<head>
   <title>Home Page</title>
</head>
<body>
<<<<<<< HEAD
   <div style="text-align:right; padding:10px 20px; background:#eee; font-size:14px;">
       Signed in as <%= user.displayName %> | <a href="/logout">Logout</a>
   </div>
   <h1>Team Members</h1>
   <% for (var i in teammembers) {%>
       <p>Name: <%=teammembers[i].student_name%>, Section: <%=teammembers[i].section%>, Fave Movie: <%=teammembers[i].favorite_movie%><p>
   <% } %>
=======
>>>>>>> 9e50c5d8c6475852d90a4f00dbd10ae21a77c94b
   <h2>Portal</h2>
   <h3>Manager</h3>
   <ul>
    <li><a href="/inventory">View Inventory</a></li>
    <li><a href="/employee">View Employees</a></li>
    <li><a href="/menu">View Menu</a></li>
    <li><a href="/order-report">View Reports</a></li>
      <li><a href="/stats">View Stats</a></li>
   </ul>
   <h4>Cashier</h4>
   <ul>
      <li><a href="/cashier-order-screen">View Cashier Order Screen</a></li>
      <li><a href="cashier-order-screen">View Cashier Order Screen</a></li>
      <li><a href="/cashier-order-screen">Cashier View</a></li>
   </ul>
   <h5>Customer</h5>
   <ul>
      <li><a href="/customer">View Customer Order Screen</a></li>
   </ul>
</body>