<!DOCTYPE html>
<head>
   <title>Home Page</title>
</head>
<body>
   <h2>Portal</h2>
   <ul>
      <li><a href="/menu">Manager View</a></li>
      <li><a href="/cashier-order-screen">Cashier View</a></li>
      <li><a href="/customer">Customer View</a></li>
   </ul>
</body>
