<!DOCTYPE html>
<head>
   <title>Home Page</title>
</head>
<body>
   <h2>Portal</h2>
   <h3>Manager</h3>
   <ul>
    <li><a href="/inventory">View Inventory</a></li>
    <li><a href="/employee">View Employees</a></li>
    <li><a href="/menu">View Menu</a></li>
    <li><a href="/order-report">View Reports</a></li>
      <li><a href="/stats">View Stats</a></li>
   </ul>
   <h4>Cashier</h4>
   <ul>
      <li><a href="cashier-order-screen">View Cashier Order Screen</a></li>
      <li><a href="/cashier-order-screen">Cashier View</a></li>
   </ul>
   <h5>Customer</h5>
   <ul>
      <li><a href="/customer">View Customer Order Screen</a></li>
   </ul>
</body>
