<!DOCTYPE html>
<head>
   <title>Home Page</title>
   <link rel="stylesheet" href="/portal/portal.css"> </head>
</head>
<body>
   <div class="content-wrapper">
      <h1 class="page-title">Portal</h1>
      <ul class="portal-grid">
            <li class="portal-card">
                <a href="/menu">Manager</a>
            </li>
            <li class="portal-card">
                <a href="/cashier-order-screen">Cashier</a>
            </li>
            <li class="portal-card">
                <a href="/customer">Customer</a>
            </li>
        </ul>
   </div>
</body>