<!DOCTYPE html>
<head>
   <title>Home Page</title>
</head>
<body>
   <div style="text-align:right; padding:10px 20px; background:#eee; font-size:14px;">
       Signed in as <%= user.displayName %> | <a href="/logout">Logout</a>
   </div>
   <h1>Team Members</h1>
   <% for (var i in teammembers) {%>
       <p>Name: <%=teammembers[i].student_name%>, Section: <%=teammembers[i].section%>, Fave Movie: <%=teammembers[i].favorite_movie%><p>
   <% } %>
   <h2>Portal</h2>
   <ul>
    <li><a href="/inventory">View Inventory</a></li>
    <li><a href="/employee">View Employees</a></li>
    <li><a href="/menu">View Menu</a></li>
   </ul>
   <ul>
      <li><a href="cashier-order-screen">View Cashier Order Screen</a></li>
   </ul>
</body>