<nav style="background-color: #500000; padding: 10px; color: white;">
    <a href="/menu" style="color: white; margin-right: 15px;">Menu</a>
    <a href="/inventory" style="color: white; margin-right: 15px;">Inventory</a>
    <a href="/employee" style="color: white; margin-right: 15px;">Employees</a>
    <a href="/order-report" style="color: white; margin-right: 15px;">Reports</a>
</nav>
<hr>