<nav class="navbar">
    <div class="nav-links">
        <a href="/menu" class = "nav-item">Menu</a>
        <a href="/inventory" class = "nav-item">Inventory</a>
        <a href="/employee" class = "nav-item">Employees</a>
        <a href="/order-report" class = "nav-item">Reports</a>
    </div>
</nav>
<hr>