<html>
    <head>
        <title>Menu</title>
        <link rel="stylesheet" href="/menu/menu.css">
    </head>
    <body>
        <!-- Main Content -->
        <div id="page-content">
            <main class="content-wrapper">
                <div style="margin-bottom: 16px; text-align: center;">
                    <h1 class="page-title">Menu</h1>
                </div>
                <!-- Items Display -->
                <div class="menu-grid">
                    <% if (menu.length === 0) { %>
                        <p>No menu items available</p>
                    <% } else { %>
                        <% menu.forEach(item => { %>
                            <div class="menu-card">
                                <div class="img-placeholder"></div>
                                <h3><%= item.item_name %></h3>
                                <p class="menu-card-price">$<%= Number(item.cost).toFixed(2) %></p>
                            </div>
                        <% }); %>
                    <% } %>
                </div>

        </div>
    </body>
</html>
