<html>
    <head>
        <title>Active Orders</title>
        <link rel="stylesheet" href="./cashier.css">
    </head>
    <body>

        <nav class="navbar">
            <div class="nav-links">
                <a href="order-screen.html" class="nav-item">Create Order</a>
                <a href="active-orders.html" class="nav-item">Active Orders</a>
            </div>
        </nav>

        <main class="content-wrapper-active-orders">
            <h1 class="page-title">Active Orders</h1>

            <section id="orders-display-area" class="orders-container">
                </section>
        </main>

        <a href="cart.html" class="floating-cart-button">View Cart</a>

        <script src="script.js"></script>
    </body>
</html>
