<!DOCTYPE html>
<html>
<head>
    <title>Your Cart</title>
    <link rel="stylesheet" href="/Cashier/cashier.css">
</head>
<body>
    <!-- Navigation -->
    <%- include('../partials/navigation-cashier') %>
    <!-- Main Content -->
    <main class="content-wrapper-cart">
        <h1 class="page-title">Cart</h1>
        <!-- Box Containing Cart Items -->
        <div id="cart-container" class="cart-container"></div>
            <div class="cart-actions">
                <button class="checkout-button" onclick="checkout()">Checkout</button>
            </div>
        </div>
    </main>

    <script src="/Cashier/script.js"></script>
    <script>
        // Run this as soon as the page loads to show the items
        displayCart();
    </script>
</body>
</html>