<html>
    <head>
        <title>Cart</title>
        <link rel="stylesheet" href="./cashier.css">
    </head>
    <body>

        <nav class="navbar">
            <div class="nav-links">
                <a href="order-screen.html" class="nav-item">Create Order</a>
                <a href="active-orders.html" class="nav-item">Active Orders</a>
            </div>
        </nav>

        <main class="content-wrapper-cart">
            <h1 class="page-title">Cart</h1>

            <section id="cart-items" class="cart-container">
                </section>
        </main>


        <script src="script.js"></script>
    </body>
</html>